/* styles for my first website */

/* fonts to import */


/* heading styles */
h1 {

    color:rgb(50,128,255);
    font-family: rocks-serif, serif;
    font-size: 20pt;
    background-color: blanchedalmond;
    margin: 10px 20px 10px 20px;
}

/* universal selector - set all margins & padding to zero */
* {
    padding: 0px;
    margin: 0px;
}

/* change body tag styles */

body {

    background-color: rgba(255,0,0,0.5);  
    color: chartreuse;  
    font-family: Arial, Helvetica, sans-serif;
    
}



/* differnt examples of compound styles */
/* use this format with a tag inside a div tag e.g. <div class="fancy"><h1>.....</h1></div> */




/* paragraph styles */
p {
    background-color: white;
    padding: 5px 30px 5px 30px;
    margin: 10px;
}

/* link styles */
a {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;

}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

/* header styles */
.header a {
    color:rgb(255,255,255);
}

/* styles for lists */
ul {
    margin-left: 20px;
}



/* quotation style paragraph */
.quote {
    font-style: italic;
    color:darkorange;
}

.sidebar {
    font-style: italic;
    font-weight: bolder;
    color:deeppink;
    background-color: brown;


}

/* testing out div tag basics */
.box {
    background-color: azure;
    /* width: 300px; */
    width: 25%;
    padding: 5px;
    margin: 10px 10px 10px 30px;
}

.box p {
    color:darkolivegreen;
}

/* CSS grid example */
.eg-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left {
    color:blue;
    background-color: bisque;
}

.left p {
    background-color: bisque;
}

.right {
    background-color: white;
}